[Login_page]
txt_User_Name = //*[@name='username']
txt_Password = //*[@name='password']
btn_login = //*[@class='login100-form-btn']
Label_Hello_Admin = //*[@id='myhscic']

[Home_Page]
drop_down_click = //*[@id='trust_input']
graph_label = //*[@id='region_nd_other']
image_region_vs_peer = //*[@id="chart3"]/a/img
image_trust_vs_peer = //*[@id="chart2"]/a/img
logout_click = //*[@class='fa fa-chevron-circle-right fa-2x']
Label_Transition_Time = //*[name()='svg']//*[name()='g']//*[text()='Transition Time (in days)']