{% load static %}
<!DOCTYPE html>
<html lang="en" style="display: block;"
    class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cancer Waiting Times | Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'NHSD_POC/images/CWT/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
    <link href="{% static 'NHSD_POC/images/CWT/favicon.ico' %}" type="image/ico" rel="icon">
    <style>
        html {
            display: none
        }

        .select2-container .select2-selection--single {
            height: 34px !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ccc !important;
            border-radius: 0px !important;
        }
    </style>

    <link href="{% static 'NHSD_POC/CSS/CWT/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'NHSD_POC/CSS/CWT/site.css' %}" rel="stylesheet">
    <link href="{% static 'NHSD_POC/CSS/CWT/bootstrap-chosen.css' %}" rel="stylesheet">
    <link href="{% static 'NHSD_POC/CSS/CWT/font-awesome.min.css' %}" rel="stylesheet">

    <script>
        if (self == top) {
            document.documentElement.style.display = 'block';
        } else {
            top.location = self.location;
        }
    </script>
</head>
<body cz-shortcut-listen="true">
    <div id="wrap">
        <div class="navbar navbar-static-top">
            <div class="container" style="padding-top:2px; padding-bottom:2px">
                <a href="" class="navbar-brand" title="Link to NHS Digital homepage">
                    <img src="{% static 'NHSD_POC/images/CWT/logo.png' %}">
                </a>
                <div id="myhscic">
                        Hello {% if request.user.is_authenticated %} {{ request.user.username }} |
                        <a href="{% url 'logout' %}">
                                <button id="" type="button" class="btn btn-sm btn-primary">
                                    Sign out&nbsp;<i class="fa fa-chevron-circle-right fa-2x"></i>
                                </button>
                        </a>
                        {% endif %} 
                    </div>

                <div class="navbar-title">
                    <h1>Cancer Waiting Times</h1>
                    <div class="notification-message "> </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="nav navbar-nav hscic-nav"
                style="padding-top:3px; padding-bottom:2px; border-bottom:0;  padding-top: 5px;">
                <li style="float: right; width: 19%">
                        <input type="text" list="trust" class="form-control" id="trust_list" value=""
                        onchange="get_performance_data_for_map(this.value)" />
                        <datalist id="trust">
                                <option value="">select</option>
                                {% for trust in trust_list %}
                                <option value={{trust}} label={{trust}}></option>
                                {% endfor %}
                        </datalist>
                    <input type="hidden" id="current_selected_graph">
                </li>
                <li class="active" style="text-align: center;float: unset;border-left: none;width: 81%">
                    <h3>Performance visualization</h3>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="container-fluid">
                <div class="row" style="height: 68vh;display: block;" id="dv_chart_no_selection_panel">
                    <div class="col-sm-10">

                        <img src="{% static 'NHSD_POC/images/CWT/nhs-home-page.jpg' %}" style="width: 100%">

                    </div>
                </div>
                <div id="dv_chart_row_panel" class="row" style="display: none">
                    <div class="col-sm-10">
                        <div class="HomePageMenuList">
                            <div id="chart_div" style="width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="border-left: 1px solid black;">
                        <div id="side-bar-chart-option">
                            <!-- <a id="CwtReportDateLink" target="_blank" style="padding: 10px 10px 9px 10px;">
                                <i aria-hidden="true"></i>Other Graph</a> -->
                            <strong>Other Graph </strong>
                        </div>
                        <div
                            style="border-bottom: 1px solid black;margin: 7px 0px 0px 0px;padding: 5px;text-align: center;height: 120px;">
                            <a style="cursor: pointer" onclick="loadchart(grapType.TvP)">
                                <img src="{% static 'NHSD_POC/images/regions.png' %}" style="width: 100%">
                                <span style="display: block">Trust vs Peers</span>
                            </a>
                        </div>
                        <div
                            style="border-bottom: 1px solid black;margin: 7px 0px 0px 0px;padding:  5px;text-align: center;height: 120px;">
                            <a style="cursor: pointer" onclick="loadchart(grapType.TvR )">

                                <img src="{% static 'NHSD_POC/images/trustvsregion.png' %}" style="width: 100%">
                                <span style="display: block">Trust vs Region </span>
                            </a>
                        </div>
                        <div style="margin: 7px 0px 0px 0px;padding:  5px;text-align: center;height: 120px;">
                            <a style="cursor: pointer" onclick="loadchart(grapType.Regions)">

                                <img src="{% static 'NHSD_POC/images/trustwise.png' %}" style="width: 100%">
                                <span style="display: block">Regions</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div id="push"></div>

    </div>

    <div id="footer" class="fixed-bottom">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">

                <div class="navbar-header fixed-bottom">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".footer-navbar-collapse">
                        <span class="sr-only">Toggle footer navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void()">v1.0.0.0</a>
                </div>

                <div class="navbar-collapse collapse footer-navbar-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                                <a href="https://www.linkedin.com/company/nhs-digital">
                                    <img src="{% static 'NHSD_POC/images/CWT/icon-twitter.png' %}"
                                        style="width: 1em; height: 1em; margin-top: -1px;">
                                    LinkedIn
                                </a>
                       </li>
                            <li>
                                <a href="https://www.twitter.com/NHSDigital">
                                    <img src="{% static 'NHSD_POC/images/CWT/icon-linkedin.png' %}"
                                        style="width: 1em; height: 1em; margin-top: -1px;">
                                    Twitter
                                </a>
                            </li>
                        <li><a href="https://digital.nhs.uk/about-nhs-digital/accessibility-help"
                                accesskey="0">Accessibility</a></li>
                        <li><a href="https://digital.nhs.uk/about-nhs-digital/contact-us/freedom-of-information">Freedom
                                of Information</a></li>
                        <li><a href="https://digital.nhs.uk/hidden-articles/our-use-of-cookies">Privacy and cookies</a>
                        </li>
                        <li><a href="https://digital.nhs.uk/hidden-articles/footer/terms-and-conditions">Terms and
                                Conditions</a></li>
                        <li><a href="https://digital.nhs.uk/legal">Legal</a></li>
                        <li><a href="http://digital.nhs.uk/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'NHSD_POC/js/CWT/jquery.js' %}"></script>
    <script src="{% static 'NHSD_POC/js/CWT/jquery.validate.js' %}"></script>
    <script src="{% static 'NHSD_POC/js/CWT/bootstrap.js' %}"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'NHSD_POC/js/trust_performance.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toUpperCase();

                $("#trust_list option").filter(function () {
                    $(this).toggle($(this).text().toUpperCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>

</html>